body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/dark-honeycomb.png");
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

#topbar
{
	background-color: #444444;
	height: 30px;
	text-align: left;
	margin: 0px;
	font-size: 20px;
	padding: 5px;
	color: #fefefe;
	line-height: 30px;
	
}

#container
{
	background-color: #dedede;
	width: 300px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	margin-bottom: 90px;
	-webkit-box-shadow: 3px 3px 30px 3px rgba(159,185,194,0.9);
	-moz-box-shadow: 3px 3px 30px 3px rgba(159,185,194,0.9);
	box-shadow: 3px 3px 30px 3px rgba(159,185,194,0.9);
	border-radius: 3px;
}

h2
{
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
	letter-spacing: 5px;
}

input
{
	width: 300px;
	background-color: #efefef;
	color: #444;
	border: 2px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
	fonmt-size: 20px;
	box-sizing: border-box;
	outline: none;

}

input[type=text],
input[type=password]
{
	
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(159,185,194,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(159,185,194,0.9);
	box-shadow: 0px 0px 10px 2px rgba(159,185,194,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
}

input[type=submit]
{
	background-color: #46c768;
	font-weight: 700;
	cursor: pointer;
	font-size: 20px;
	padding: 15px 10px;
	border: none;
	color: white;
	margin: 0;
	margin-top: 10px;
	letter-spacing: 2px;
}

input[type=submit]:hover
{
	background-color: #35b657;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(159,185,194,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(159,185,194,0.9);
	box-shadow: 0px 0px 15px 5px rgba(159,185,194,0.9);
}

#footer
{
	background-color: #444444;
	color: #efefef;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}





.wrapper
{
	width: 100%;
	margin: 0;
	color: #efefef;
}

.header
{
	padding: 40px 0px;
}

.logo
{
	font-size: 48px;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 4px;
}

.logo img
{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.nav
{
	width: 100%;
	background-color: #85bb65;
	padding: 10px 0px;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

}

.content{
	text-align: justify;
	padding-top: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}


.footer
{
	background-color: #202020;
	text-align: center;
	padding: 30px;
}

ol
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;

}

ol > li
{
	float: left;
	width: 160px;
	height: 40px;
	border-right: 1px dashed black;
}

ol > li:first-child
{
	border-left: 1px dashed black;
}

ol a
{
	text-decoration: none;
	color: #ffffff;
	display: block;
}

ol > li:hover > a
{
	color: #451717;
}

ol > li:hover
{
	background-color: #96cc76;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}